
<!DOCTYPE html>
<html lang="en">
   <body>
      <form method="POST", action="\login">
        Bream : <input  name=Bream type=text></input><br>
        Roach : <input  name=Roach type=text></input><br>
        Whitefish : <input  name=Whitefish type=text></input><br>
        Parkki : <input  name=Parkki type=text></input><br>
        Perch : <input  name=Perch type=text></input><br>
        Pike : <input  name=Pike type=text></input><br>
        Smelt : <input  name=Smelt type=text></input><br>
         <button type="submit">Login</button>
      </form>
   </body>
</html>